{include file='public/header'/ title="$title"/}
<link rel="stylesheet" href="__CSS_PATH__xwzx.css">
<!-- 头部结束 -->
<!-- 、、、、、、、、、、、、、、、、、、 -->
<div class="container">
    <div class="row">
        <div class="beijing">
            <div class="beijing-2">
                <!-- 图片 -->
                <div class="tupian">
                    <img src="__IMG_PATH__news/timg.jpg" alt="src">
                </div>
                <!-- 养护知识开始 -->

                <div class="fg col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class=" fg-left "></div>
                    <div class="flow  ">
                        <div class="top ">浪漫花语</div>
                        <div class="down">Knowledgement</div>
                    </div>
                    <div class="fg-right "></div>
                </div>
                <!-- 养护知识结束 -->
                <div class="neirong fg col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="kuai ">
                        {volist name='news', id="data"}
                        <div class="kuai-2 ">
                            <li class="lianjie ">
                                <a href="/home/public/index.php/index/category/page?id={$data['nid']}">
                                <span style="display: inline;float: left " >{$data.nname}</span>
                                <span style="display: inline;float: right" >{$data.ntime}</span>
                                </a>
                            </li>

                        </div>
                        {/volist}
                    </div>
                </div>
                <!-- 结束 -->

                <div class="kongwei col-lg-12 fg col-lg-12 col-md-12 col-sm-12 col-xs-12">

                </div>
                <div class="tupian-2 ">
                    <div class="tpbj ">
                        <img src="__IMG_PATH__news/banner1.jpg " alt="src ">
                    </div>
                </div>
                <!-- 内容结束 -->

                <!-- 背景结束 -->
            </div>
        </div>
    </div>
</div>
<!-- 、、、、、、、、、、、、、、、、、、、、、、、、、、、、、 -->
<div class="content" style="height: 300px;"></div>
{include file='public/top'/}
</body>

</html>

