{include file='public/header'/ title="$title"/}
    <link rel="stylesheet" href="__CSS_PATH__在线预约.css">
<style>
    .layui-form{
        margin: 50px 0 0 150px;
        overflow: hidden;
    }
    .qxfd{
        width: 100%;
        height: 550px;
    }
    .layui-form-label{
     width: 100px;
    }
</style>

<!-- 底部部分结束 -->
<div class="photo-big">
    <div class="container">
        <div class="row">
            <!-- 图片部分开始 -->
            <div class="picture col-1g-12  col-md-12  col-sm-12 col-xs-12" style="width: 100%;height:100%">
                <div class="image">
                    <img src="__IMG_PATH__order/timg.jpg" alt="">
                </div>
                <!-- 图片部分结束 -->
            </div>
        </div>
    </div>
</div>
<!-- 在线预约开始 -->

<div class="big container">
    <div class="row">
        <div class="main-tittle">
            <div class="col-xs-5">
                <div class="left-line"></div>
            </div>

            <div class="middle">
                <div class="col-xs-2">
                    <h1></h1>
                    <p>Online Appointment</p>
                </div>
            </div>

            <div class="col-xs-5">
                <div class="right-line"></div>
            </div>
        </div>
    </div>
</div>
<div class="qxfd">
<form class="layui-form col-1g-8 col-md-8 col-sm-8 col-xs-8" action="" >
    <div class="layui-form-item">
        <label class="layui-form-label">预约分类</label>
        <div class="layui-input-block">
            <select name="service" >
                <option value="茶道体验课">茶道体验课</option>
                <option value="花道体验课">花道体验课</option>
                <option value="高级茶道研修班">高级茶道研修班</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="name-text">
            <label class="layui-form-label">预约日期</label>
        </div>
        <div class="layui-input-block">
            <input type="text" class="layui-input" id="test1" name="odate">
        </div>
    </div>
    <div class="layui-form-item" class="name">
        <div class="name-text">
            <label class="layui-form-label">您的姓名</label>
        </div>
        <div class="layui-input-block">
            <input type="text"  name="oname" lay-verify="required" placeholder="请输入您的姓名"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">您的性别</label>
        <div class="layui-input-block">
            <input type="radio" name="sex" value="男" title="男">
            <input type="radio" name="sex" value="女" title="女" checked>
        </div>
    </div>
    <div class="layui-form-item" class="telephone">
        <div class="telephone-text">
            <label class="layui-form-label">您的电话:</label>
        </div>
        <div class="layui-input-block">
            <input type="text"  name="phone" lay-verify="required" placeholder="请输入您的电话"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" class="telephone">
        <div class="telephone-text">
            <label class="layui-form-label">备注信息</label>
        </div>
        <div class="layui-input-block">
            <input type="text"  name="supply" lay-verify="required" placeholder="请输入备注信息"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</div>
<!-- 在线预约结束 -->
<!-- 表格部分开始 -->
<!-- 版权结束 -->

<!-- 底部结束 -->

{include file='public/top'/}
</body>
</html>

<!--<script src="__JS_PATH__在线预约.js"></script>-->
<script src="/home/public/static/layui.js"></script>
<script>
    const HOME='/home/public/index/category/';
    layui.use(['form','layer','laydate'], function () {
        let form = layui.form, $ = layui.$,laydate=layui.laydate;
        form.on('submit(*)', function (data) {
            let qs = data.field;
            console.log(qs);
            $.ajax({
                type: 'POST',
                url: HOME+'insert',
                dataType: 'json',
                data: qs,
                success: function (res) {
                    // layer.msg('hello');
                    layer.alert(res.msg);
                }
            })
            return false;
        });
    });
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#test1' //指定元素
        });
    });
</script>
