<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>商品管理系统</title>
    <link rel="stylesheet" href="/home/public/static/css/layui.css">
    <style>
        .layui-tab {
            position: relative;
            width: 100%;
            height: calc(100% - 20px);
        }

        .layui-tab > .layui-tab-content {
            position: absolute;
            top: 41px;
            bottom: 0;
            width: 100%;
        }

        .layui-tab-content > .layui-tab-item {
            height: 100%;
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">layui 后台布局</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://m.sohu.com/a/287002044_100289597#read" class="layui-nav-img">
                    {$username['username']}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/home/public/admin/login/index">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">导航管理</a>
                    <dl class="layui-nav-child">
                        <dd data-id="11" data-url="/home/public/admin/nav/open"><a href="javascript:;">添加导航</a></dd>
                        <dd data-id="12" data-url="/home/public/admin/nav/index"><a href="javascript:;">查看导航</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">商品分类</a>
                    <dl class="layui-nav-child">
                        <dd data-id="21" data-url="/home/public/admin/clas/index"><a href="javascript:;">添加分类</a></dd>
                        <dd data-id="22" data-url="/home/public/admin/clas/open"><a href="javascript:;">查看分类</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">商品管理</a>
                    <dl class="layui-nav-child">
                        <dd data-id="31" data-url="/home/public/admin/goods/open"><a href="javascript:;">添加商品</a></dd>
                        <dd data-id="32" data-url="/home/public/admin/goods/index"><a href="javascript:;">查看商品</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">新闻管理</a>
                    <dl class="layui-nav-child">
                        <dd data-id="41" data-url="/home/public/admin/news/open"><a href="javascript:;">添加新闻</a></dd>
                        <dd data-id="42" data-url="/home/public/admin/news/index"><a href="javascript:;">查看新闻</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">在线预约</a>
                    <dl class="layui-nav-child">
                        <dd data-id="51" data-url="/home/public/admin/online/open"><a href="javascript:;">添加在线预约</a></dd>
                        <dd data-id="52" data-url="/home/public/admin/online/index"><a href="javascript:;">查看在线预约</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">服务项目</a>
                    <dl class="layui-nav-child">
                        <dd data-id="51" data-url="/home/public/admin/service/open"><a href="javascript:;">添加服务项目</a></dd>
                        <dd data-id="52" data-url="/home/public/admin/service/index"><a href="javascript:;">查看服务项目</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">关于我们</a>
                    <dl class="layui-nav-child">
                        <dd data-id="51" data-url="/home/public/admin/about/open"><a href="javascript:;">添加关于我们</a></dd>
                        <dd data-id="52" data-url="/home/public/admin/about/index"><a href="javascript:;">查看关于我们</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">人员介绍</a>
                    <dl class="layui-nav-child">
                        <dd data-id="51" data-url="/home/public/admin/personnel/open"><a href="javascript:;">添加人员</a></dd>
                        <dd data-id="52" data-url="/home/public/admin/personnel/index"><a href="javascript:;">查看人员</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">云市场</a></li>
                <li class="layui-nav-item"><a href="">发布商品</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">

        <!-- 内容主体区域 -->
        <div style="padding: 15px;;width: 100%;height: 100%;box-sizing: border-box;">

            <div class="layui-tab" lay-filter="demo" lay-allowclose="true">
                <ul class="layui-tab-title">
                    <li lay-id="3">订单管理</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item">内容5</div>
                </div>
            </div>
            <!--<div class="site-demo-button" style="margin-bottom: 0;">-->
            <!--<button class="layui-btn site-demo-active" data-type="tabAdd">新增Tab项</button>-->
            <!--<button class="layui-btn site-demo-active" data-type="tabDelete">删除：商品管理</button>-->
            <!--<button class="layui-btn site-demo-active" data-type="tabChange">切换到：用户管理</button>-->
            <!--</div>-->
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
</body>
</html>
<script src="/home/public/static/layui.js"></script>
<!--<script>-->
<!--layui.use(['layer'], function(){-->
<!--let  layer=layui.layer;-->
<!--layer.msg('Hello World');-->
<!--})</script>-->
<script>
    layui.use(['element', 'layer', 'form'], function () {
        let layer = layui.layer, $ = layui.$, element = layui.element;
        $('dd').on('click', function () {
            //let text = $(this).find('a').text();//后代
            let text = $(this).children('a').text();//子代
            //let text = $(this).children('a',this).text();//范围变小，this下的a标签
            let did = this.dataset.id;//拿到dd标签中的属性data-id
            let lid = $(".layui-tab-title li");//let lid = $('li['lay-id']');
            let flag = false;
            //  方法1
            // for (let i = 0; i < lid.length; i++) {
            //     //attributes属性返回指定节点属性的集合
            //     // lid[i].getAttribute('lay-id');
            //     // lid[i].attr('lay-id');有问题
            //     if (did == lid[i].attributes[0].nodeValue) {
            //         element.tabChange('demo', did);
            //         flag = true;
            //     }
            // }
            // if (flag == false) {
            //     element.tabAdd('demo', {
            //         title: text,
            //         content: text,
            //         id: did,
            //     });
            // } // 结束

            //  方法2
            let arr = lid.map(function (index, element) {
                return element.getAttribute('lay-id');
            })
            flag = Array.from(arr).some(ele => ele == did);
            //flag = Array.prototype.some.call(arr,ele=>ele==did);转为数组的第二种方法
            if (flag) {
                element.tabChange('demo', did);
            } else {
                let urls = this.dataset.url;
                element.tabAdd('demo', {
                    title: text,
                    content:
                        `<iframe frameborder="0" src="${urls}"></iframe>`,
                    id: did,
                });
            }//结束
        });
    });
</script>

