<footer>
    <div class="container">
        <div class="row">
            <div class="footer-   col-md-4">
                <h5 style="color: #FF6000"><b>一店地址</b></h5>
                <div class="kong" style="height: 24px;"></div>
                <p>门店地址：上海市松江区佘山林荫大道18号</p>
                <p>预约电话：<strong style="color:#FF6000;">400-562-6654 </strong></p>
                <div class="kong" style="height: 24px;"></div>
                <strong style="font-size:15px;color:#FF6000;">营业时间：</strong>
                <p style="font-size: 12px">周一 ~周五：上午9:30-下午8:00 </p>
                <p style="font-size: 12px">周六、周日：上午10:00-下午9:00</p>
            </div>
            <div class="footer-   col-md-4">
                <h5 style="color: #FF6000"><b>一店地址</b></h5>
                <div class="kong" style="height: 24px;"></div>
                <p>门店地址：上海市松江区佘山林荫大道18号</p>
                <p>预约电话：<strong style="color:#FF6000;">400-562-6654 </strong></p>
                <div class="kong" style="height: 24px;"></div>
                <strong style="font-size:15px;color:#FF6000;">营业时间：</strong>
                <p style="font-size: 12px">周一 ~周五：上午9:30-下午8:00 </p>
                <p style="font-size: 12px">周六、周日：上午10:00-下午9:00</p>
            </div>
            <div class="footer-   col-md-4">
                <h5 style="color: #FF6000"><b>一店地址</b></h5>
                <div class="kong" style="height: 24px;"></div>
                <p>门店地址：上海市松江区佘山林荫大道18号</p>
                <p>预约电话：<strong style="color:#FF6000;">400-562-6654 </strong></p>
                <div class="kong" style="height: 24px;"></div>
                <strong style="font-size:15px;color:#FF6000;">营业时间：</strong>
                <p style="font-size: 12px">周一 ~周五：上午9:30-下午8:00 </p>
                <p style="font-size: 12px">周六、周日：上午10:00-下午9:00</p>
            </div>
        </div>

    </div>
</footer>
<!-- 版权开始 -->
<div class="footer-copy">
    <ul class="footer-icon">
        <li class="icon-item"><i class="iconfont icon-tubiao215"></i></li>
        <li class="icon-item"><i class="iconfont icon-weixin"></i></li>
        <li class="icon-item"><i class="iconfont icon-xinfeng"></i></li>
        <li class="icon-item"><i class="iconfont icon-dianhua"></i></li>
        <li class="icon-item"><i class="iconfont icon-666"></i></li>
    </ul>
    <div class="copy-text">版权所有 2019-2020 汽车美容工作室 技术支持：起飞页</div>
    <div class="zhiding" style="transition: all 1s linear">
        <a href="#top">
            <img src="__IMG_PATH__index/上箭头.png" alt="">
        </a>

    </div>
</div>
<script src="__JS_PATH__swiper.min.js"></script>
<script src="__JS_PATH__com.js"></script>
<!-- 版权结束 -->
<!-- 底部结束 -->