{include file='public/header'/ title="$title"/}

<link rel="stylesheet" href="__CSS_PATH__index.css">
<!-- 轮播图开始 -->
<div class="banner">
    <div class="img-box swiper-container">
        <div class="img swiper-wrapper" width="100%">
            <div class="swiper-slide" width="100%"
                 style="z-index:100;background-image: url(__IMG_PATH__index/lb1.jpg);background-size: cover;background-position: center center;">
            </div>
            <div class="swiper-slide"
                 style="background-image: url(__IMG_PATH__index/lb2.jpg);background-size: cover;background-position: center center;">
            </div>
        </div>
    </div>
    <div class="swiper-pagination banner-dot">
    </div>
    <div class="btn btn-left swiper-button-prev">
    </div>
    <!--左箭头。如果放置在swiper-container外面，需要自定义样式。-->
    <div class="btn btn-right swiper-button-next">
    </div>
    <!--右箭头。如果放置在swiper-container外面，需要自定义样式。-->


</div>
<!-- 轮播图结束 -->
<div class="kong">

</div>
<!-- 内容部分开始 -->
<div class="all container">
    <div class="row">
        <!-- 小标题部分开始 -->
        <div class="font-text">
            <div class=" text-title">
                我们的努力，只是为了您的满意
            </div>
            <div class="text-p">
                为什么选择我们，带你走进真实的花礼
            </div>
        </div>
        <!-- 小标题部分结束 -->
        <!-- 四小部分开始 -->
        <div class="tuijian">
            {volist name='service', id="s"}
            <div class="tj-itme animated  ">
                <div class="img">
                    <img src="{$s.simg}" alt="">
                </div>
                <div class="title">

                </div>
                <div class="title-fg">
                    <img src="__IMG_PATH__index/fg1.png" alt="">
                </div>
                <div class="font-p">
                    {$s.scontent}
                </div>
            </div>
            {/volist}
        </div>
        <!-- 四小部分结束 -->

        <!-- 引领时代部分开始 -->
        <div class="yinl">
            <div class="yinl-title">
                鲜花映脸庞，团聚乐融融
            </div>
            <div class="yinl-img">
                <img src="__IMG_PATH__index/fg.png" alt="">
            </div>

        </div>
        <!-- 引领时代部分结束 -->

        <!-- 公司简介部分开始 -->
        <div class="gsjj">
            <div class="gsjj-img col-md-4 animated ">
                <img src="{$about.simg}" alt="">
            </div>
            <div class="gsjj-right col-md-8">
                <div class="gsjj-title ">
                    公司简介
                    <div class="more">
                        <a href="../category/about.html"> MORE+</a>
                    </div>
                </div>
                <div class="gsjj-p">
                    <div class="gsji-p1">

                    </div>
                    <div class="gsjj-p2">
                        {$about.scontent}
                    </div>
                </div>
            </div>
        </div>

        <!-- 公司简介部分结束 -->
        <!-- 美容知识开始 -->
        <div class="mrzs">
            <div class="mrzs-left  col-md-8">
                <div class="mrzs-title ">
                    浪漫花语
                    <div class="more">
                        <a href="xwzx.html"> MORE+</a>
                    </div>
                </div>
                <div class="mrzs-p">
                    <ul class="mrzs-ul">
                        {volist name='news', id="data"}
                        <a href="news1.html">
                            <li class="mrzs-li">
                                {$data.nname}
                                <span>{$data.ntime}</span>
                            </li>
                        </a>
                        {/volist}
                    </ul>

                </div>
            </div>
            <div class="mrzs-img  col-md-4 animated ">
                <img src="__IMG_PATH__index/2.jpg" alt="">
            </div>
        </div>
        <!-- 美容知识结束 -->

    </div>
</div>
<!-- 内容部分结束 -->
<!-- 底部开始 -->
{include file='public/top'/}
</body>
</html>

<script src="__JS_PATH__index.js"></script>

<!-- <script src="js/index.js"></script> -->
<script>
    var mySwiper = new Swiper('.swiper-container', {
        autoplay: true, //可选选项，自动滑动
        loop: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
        },
    })
</script>